  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  body{
    font-family: 'Open Sans Condensed', sans-serif;
    }
    .menu{
        display: flex;
    }
    .name {
        margin-right: auto;
        padding-left: 5%;
    }

  
  h2{
      font-size: 3em;
      text-align: center;
  }

  h3{
      font-size: 1.5em;
      /* margin-left: 5%; */
      /* text-align: center; */
  }

/**
 * ----------------------------------------
 * nav bar
 * ----------------------------------------
 */
  .name p{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    /* margin-top: 0;   */
    
  }
 
  .contact {
    margin-left: auto;
    padding-right: 5%;
  }

  .contact a{
    text-decoration: none;
    color: inherit; 
  }

  hr {
    margin: 0;
  }

  /**
 * ----------------------------------------
 * header
 * ----------------------------------------
 */

 .color1{
  color: #F2CFC7;
  text-shadow: 1px 1px gray;
  }
.color2{
  color: #FFEAD6;
  text-shadow: 2px 2px gray;
  }
.color3{
  color:  #C3D9D5;
  text-shadow: 2px 2px gray;
  }
  .header{
    min-height: 600px;
  }
    
  @media only screen and (max-width: 600px){
    .intro-1 {margin-bottom: 0};
    .intro-2 {margin-top: 0};
  }

  .introduction{
    text-align: center;
  }
 
  .introduction p{
    display: inline-block;
  }

  .introduction p:first-child{
    margin-right: 20px;
  }
    
  
  .button-wrapper{
    width: 100px;
    margin: auto;
  }

  .enter{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 2px 1px 4px 0px black;
    
    }
  
  .enter img{
    width: 50px;   
    }
  
  button:hover{
    background-color: #C3D9D5; 
    
  }

  button:active{
    box-shadow: 0px 0px 4px 0px #C3D9D5; 
    outline: none;
    border: none;
    
  }

  *:focus {
    outline: 0;
  }
  .introduction p{
      font-size: 4em;
  }

  .welcome{
      text-align: center;
  }
  .welcome p{
      font-size: 2em;
  }

 /**
 * ----------------------------------------
 * skills
 * ----------------------------------------
 */  
  .skills-list, .learning-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .skills-list p, .learning-list p{      
      width: 150px;
      height: 150px;
      border-radius: 50%;
      font-size: 1.2em;     
      line-height: 150px;
      text-align: center;  
      margin: 20px;  

  }
  .none{
      display: none;
  }

    .skills-list p:nth-child(1){
        background-color: #FCD7F5;
    }

    .skills-list p:nth-child(2){
        background-color: #C3D9D5;
    }

    .skills-list p:nth-child(3){
        background-color: #FFEAD6;
    }

    .skills-list p:nth-child(4){
        background-color: #D1D1D1;
    }

    .skills-list p:nth-child(5){
        background-color:#F2CFC7;
    }

    .second p:nth-child(1){
        background-color: #FCD7F5;
    }
    .skills-list p:nth-child(6){
        background-color: #C3D9D5;
    }
    .skills-list p:nth-child(7){
      background-color: #D1D1D1;
    }
    .skills-list p:nth-child(8){
      background-color: #F2CFC7;
    }
    .skills-list p:nth-child(09){
      background-color: #FCD7F5;
    }
    .skills-list p:nth-child(10){
      background-color: #C3D9D5;
    }
    .skills-list p:nth-child(11){
      background-color: #FFEAD6;
    }
    .skills-list p:nth-child(12){
      background-color: #FCD7F5;
    }
    .learning-list p:nth-child(1){
      border: 3px solid  #D1D1D1;
    }
    .learning-list p:nth-child(2){
      border: 3px solid  #F2CFC7;
    }
    .learning-list p:nth-child(3){
      border: 3px solid  #C3D9D5;
    }
    .learning-list p:nth-child(4){
        border: 3px solid  #FCD7F5;
    }
    .learning-list p:nth-child(5){
        border: 3px solid  #FFEAD6;
    }
    .learning-list p:nth-child(6){
        border: 3px solid  #D1D1D1;
    }
    .learning-list p:nth-child(5){
        border: 3px solid #F2CFC7;
    }
/**
 * ----------------------------------------
 * About me
 * ----------------------------------------
 */  
.divider{
  margin-top: 40px;
  padding-top: 20px;
  background-image: linear-gradient(90deg,#9e9e9e54, #C3D9D5 ,#FFEAD6, #FCD7F5);

}

 .about{
    /* display: flex;
    width: 60%; */
    margin: auto;

 }

 .about p{
   font-size: 1.5em;
   margin-left: 30px;
   margin-right: 30px;
 }

 .profile-photo {
   text-align: center;
 }
 .about img{
   width: 250px;
   /* margin-top: 30px;
   margin-left: 30px;
   margin-right: 30px; */
   border-radius: 50%;
   border: 2px solid black;
 }
 @media only screen and (max-width: 768px){
  .about{ 
    flex-wrap: wrap;
    width: 100%;
}
  .about div:first-child{ 
    width: 250px;
    margin: auto;
  }
  .about img{
    
    margin-left: 0;
    margin-right: 0;
}
 }
 /* .history, .education{
   width: 50%;
 } */
 /**
 * ----------------------------------------
 * Work/Education
 * ----------------------------------------
 */ 

 .history h2, .experience h2{
    font-size: 2.5em;
 }
 .experience {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
 }

  table {
    width: 100%;
    margin: auto;
  }

  

  td{
    font-size: 1.5em;
    border-bottom: 1px solid gray;
  }

  .history td:nth-child(odd){
    width: 40%;
  }
  
  .history td:nth-child(even){
    width: 20%;
  }
  

  .education table{
      text-align: center;
      
    }


 /**
 * ----------------------------------------
 * Projects
 * ----------------------------------------
 */ 

 .projects{
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}
.row div {
  width: 300px;
  height:300px;
  margin: 20px;
  overflow: auto;
  border: 5px solid #C3D9D5;
}

.row div a:hover{
  opacity: .3;
  /* background-color: #cccccc; */
}

.long {
  height: auto !important;
}

 /**
 * ----------------------------------------
 * Footer
 * ----------------------------------------
 */ 
.footer{
  display: flex;
  justify-content: space-between;
}
.social{
  display: flex;
  justify-content: flex-end
}
.copyright p, .social p{
  margin: 20px;
}
.social img{
  height: 20px;
}

/**
 * ----------------------------------------
 * Contact
 * ----------------------------------------
 */


 form {
  margin: 0 auto 20px auto;
 
  padding: 1em;
  border: 4px solid #FFEAD6;
  border-radius: 1em;
  font-size: 1.5em;
}

@media only screen and (min-width: 480px){
  form { width: 400px;}
}
form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {

  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.send-button {
  /* width: 400px; */
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.send-button button {

  width: 80px;
  height: 40px;
  border-radius: 30px;
  box-shadow: 2px 1px 4px 0px black;
  font-size: .8em;


}
.send-button button:hover{
  background-color: #C3D9D5; 
  
}

.send-button button:active{
  box-shadow: 0px 0px 4px 0px #C3D9D5; 
  outline: none;
  border: none;
  
}

.contact-section{
  margin-bottom: 30px;
}
 /**
 * ----------------------------------------
 * CSS Animation
 * ----------------------------------------
 */ 
  .slide-right {
-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
        animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }
  .slide-left {
-webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
        animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }

  .text-focus-in {
-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  }

  .roll-in-left {
    -webkit-animation: roll-in-left 1s ease-out both;
            animation: roll-in-left 1s ease-out both;
  }

  .roll-in-right {
    -webkit-animation: roll-in-right 2s ease-out both;
            animation: roll-in-right 2s ease-out both;
  }
  
  .bounce1 {
    -webkit-animation: bounce-in-top .5s ease-in .5s both;
        animation: bounce-in-top .5s ease-in .5s both;
  }

  .bounce2 {
-webkit-animation: bounce-in-top 1s ease-in 1s both;
        animation: bounce-in-top 1s ease-in 1s both;
  }

  .bounce3 {
-webkit-animation: bounce-in-top 2s 2.1s both;
        animation: bounce-in-top 2s 2.1s both;
  }


/* ----------------------------------------------
 * Generated by Animista on 2019-7-12 17:57:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-7-12 18:6:30
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-40vw);
            transform: translateX(-40vw);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-40vw);
            transform: translateX(-40vw);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-12 19:9:34
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2019-7-12 20:45:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2019-7-13 17:13:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-13 17:14:34
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
